USE [master]
GO
/****** Object:  Database [RMS]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE DATABASE [RMS]
ALTER DATABASE [RMS] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMS]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](100) NULL,
	[table_name] [nvarchar](100) NULL,
	[record_id] [bigint] NULL,
	[old_values] [nvarchar](max) NULL,
	[new_values] [nvarchar](max) NULL,
	[timestamp] [datetime2](0) NULL,
	[ip_address] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_items]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_items](
	[bill_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[order_item_id] [bigint] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[line_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[bill_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[bill_no] [nvarchar](30) NULL,
	[status] [nvarchar](12) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[discount_amount] [decimal](12, 2) NOT NULL,
	[tax_amount] [decimal](12, 2) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[vat_rate] [decimal](5, 2) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](0) NULL,
	[finalized_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](150) NULL,
	[email] [nvarchar](191) NULL,
	[phone] [nvarchar](30) NULL,
	[address] [nvarchar](255) NULL,
	[registration_date] [datetime2](0) NULL,
	[loyalty_points] [int] NOT NULL,
	[customer_type] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dining_table]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dining_table](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[area_id] [int] NULL,
	[table_number] [nvarchar](20) NOT NULL,
	[capacity] [int] NOT NULL,
	[location] [nvarchar](100) NULL,
	[status] [nvarchar](20) NOT NULL,
	[table_type] [nvarchar](20) NOT NULL,
	[map_x] [int] NULL,
	[map_y] [int] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_items]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](150) NOT NULL,
	[category] [nvarchar](100) NULL,
	[uom] [nvarchar](30) NOT NULL,
	[current_stock] [decimal](12, 3) NOT NULL,
	[minimum_stock] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](12, 2) NOT NULL,
	[supplier_id] [int] NULL,
	[expiry_date] [date] NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[invoice_no] [nvarchar](50) NULL,
	[pdf_url] [nvarchar](255) NULL,
	[issued_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kitchen_tickets]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitchen_tickets](
	[kt_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_item_id] [bigint] NOT NULL,
	[station] [nvarchar](50) NULL,
	[preparation_status] [nvarchar](12) NOT NULL,
	[received_time] [datetime2](0) NULL,
	[start_time] [datetime2](0) NULL,
	[ready_time] [datetime2](0) NULL,
	[picked_time] [datetime2](0) NULL,
	[served_time] [datetime2](0) NULL,
	[chef_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_categories]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_item_modifiers]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_item_modifiers](
	[menu_item_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
 CONSTRAINT [PK_menu_item_modifiers] PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC,
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[menu_item_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NULL,
	[base_price] [decimal](12, 2) NOT NULL,
	[availability] [nvarchar](20) NOT NULL,
	[preparation_time] [int] NULL,
	[image_url] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifier_groups]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](100) NOT NULL,
	[is_required] [bit] NOT NULL,
	[min_select] [int] NOT NULL,
	[max_select] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifier_options]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[option_name] [nvarchar](100) NOT NULL,
	[extra_price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item_modifiers]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item_modifiers](
	[order_item_id] [bigint] NOT NULL,
	[option_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[extra_price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_order_item_modifiers] PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC,
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[base_unit_price] [decimal](12, 2) NOT NULL,
	[final_unit_price] [decimal](12, 2) NOT NULL,
	[course_no] [tinyint] NOT NULL,
	[priority] [nvarchar](10) NOT NULL,
	[special_instructions] [nvarchar](255) NULL,
	[status] [nvarchar](12) NOT NULL,
	[cancelled_by] [int] NULL,
	[cancel_reason] [nvarchar](255) NULL,
	[served_by] [int] NULL,
	[served_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](30) NULL,
	[order_type] [nvarchar](10) NOT NULL,
	[customer_id] [int] NULL,
	[table_id] [int] NULL,
	[waiter_id] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](255) NULL,
	[opened_at] [datetime2](0) NULL,
	[closed_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[reset_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[reset_token] [nvarchar](255) NOT NULL,
	[created_at] [datetime2](0) NULL,
	[expires_at] [datetime2](0) NULL,
	[used] [bit] NOT NULL,
	[ip_address] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[reset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[method] [nvarchar](15) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[provider] [nvarchar](50) NULL,
	[transaction_id] [nvarchar](100) NULL,
	[status] [nvarchar](12) NOT NULL,
	[paid_at] [datetime2](0) NULL,
	[processed_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](150) NOT NULL,
	[description] [nvarchar](255) NULL,
	[module] [nvarchar](100) NULL,
	[action] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_rules]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[day_of_week] [tinyint] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[price] [decimal](12, 2) NULL,
	[discount_type] [nvarchar](10) NULL,
	[discount_value] [decimal](12, 2) NULL,
	[active_from] [date] NULL,
	[active_to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_items]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_items](
	[recipe_item_id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[qty] [decimal](12, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[table_id] [int] NULL,
	[reservation_date] [date] NOT NULL,
	[reservation_time] [time](7) NOT NULL,
	[party_size] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[special_requests] [nvarchar](255) NULL,
	[created_by] [int] NULL,
	[deposit_amount] [decimal](12, 2) NOT NULL,
	[deposit_status] [nvarchar](20) NOT NULL,
	[confirmation_code] [nvarchar](50) NULL,
	[channel] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_permission_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[assigned_date] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[access_token] [nvarchar](255) NOT NULL,
	[refresh_token] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NULL,
	[expires_at] [datetime2](0) NULL,
	[ip_address] [nvarchar](64) NULL,
	[user_agent] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift_schedule]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift_schedule](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[shift_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [nvarchar](12) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[email] [nvarchar](191) NULL,
	[phone] [nvarchar](30) NULL,
	[position] [nvarchar](100) NULL,
	[hire_date] [date] NULL,
	[salary] [decimal](12, 2) NULL,
	[status] [nvarchar](20) NOT NULL,
	[manager_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transactions]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transactions](
	[stock_txn_id] [bigint] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[txn_type] [nvarchar](20) NOT NULL,
	[quantity] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](12, 2) NOT NULL,
	[txn_time] [datetime2](0) NULL,
	[ref_type] [nvarchar](50) NULL,
	[ref_id] [bigint] NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](150) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[email] [nvarchar](191) NULL,
	[phone] [nvarchar](30) NULL,
	[address] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_action_log]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_action_log](
	[action_id] [bigint] IDENTITY(1,1) NOT NULL,
	[action_type] [nvarchar](20) NOT NULL,
	[src_table_id] [int] NULL,
	[dst_table_id] [int] NULL,
	[order_id] [bigint] NULL,
	[actor_id] [int] NULL,
	[reason] [nvarchar](255) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_area]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_area](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[area_name] [nvarchar](100) NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_session]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_session](
	[table_session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_id] [int] NOT NULL,
	[open_time] [datetime2](0) NOT NULL,
	[close_time] [datetime2](0) NULL,
	[status] [nvarchar](10) NOT NULL,
	[current_order_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[table_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[assigned_date] [datetime2](0) NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[phone] [nvarchar](30) NULL,
	[address] [nvarchar](255) NULL,
	[registration_date] [datetime2](0) NULL,
	[last_login] [datetime2](0) NULL,
	[account_status] [nvarchar](20) NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[lockout_until] [datetime2](0) NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_redemptions]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_redemptions](
	[redemption_id] [bigint] IDENTITY(1,1) NOT NULL,
	[voucher_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[bill_id] [bigint] NULL,
	[redeemed_at] [datetime2](0) NULL,
	[amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[redemption_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 10/12/2025 8:34:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_type] [nvarchar](10) NOT NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[valid_from] [date] NULL,
	[valid_to] [date] NULL,
	[usage_limit] [int] NULL,
	[min_order_total] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dining_table] ON 

INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (1, 1, N'T1-01', 4, N'G?n c?a ra vào', N'VACANT', N'REGULAR', 100, 100, 1)
INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (2, 1, N'T1-02', 2, N'Góc phòng', N'VACANT', N'REGULAR', 200, 100, 1)
INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (3, 1, N'T1-03', 6, N'Gi?a phòng', N'VACANT', N'REGULAR', 300, 100, 1)
SET IDENTITY_INSERT [dbo].[dining_table] OFF
GO
SET IDENTITY_INSERT [dbo].[menu_categories] ON 

INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (1, N'Khai vá»‹', 1)
INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (2, N'MÃ³n chÃ­nh', 2)
INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (3, N'MÃ³n phá»¥', 3)
SET IDENTITY_INSERT [dbo].[menu_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[menu_items] ON 

INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (1, 1, N'Gỏi cuốn tôm thịt', N'Gỏi cuốn tươi ngon với tôm và thịt', CAST(45000.00 AS Decimal(12, 2)), N'AVAILABLE', 10, NULL, 1, 1)
INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (2, 2, N'Chả cá Lã Vọng', N'Chả cá truyền thống Hà Nội', CAST(65000.00 AS Decimal(12, 2)), N'AVAILABLE', 15, NULL, 1, 1)
INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (3, 2, N'Phở bò tái', N'Phở bò truyền thống', CAST(75000.00 AS Decimal(12, 2)), N'AVAILABLE', 20, NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[menu_items] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (1, N'STAFF_CREATE', N'T?o nhân viên m?i', N'STAFF', N'CREATE')
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (2, N'STAFF_READ', N'Xem thông tin nhân viên', N'STAFF', N'READ')
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (3, N'STAFF_UPDATE', N'C?p nh?t thông tin nhân viên', N'STAFF', N'UPDATE')
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[role_permissions] ON 

INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (1, 1, 8, CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (2, 1, 9, CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (3, 1, 5, CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[role_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (1, N'Manager', N'Qu?n lý h? th?ng', N'ACTIVE', CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (2, N'Waiter', N'Nhân viên ph?c v?', N'ACTIVE', CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (3, N'Chef', N'Ð?u b?p', N'ACTIVE', CAST(N'2025-10-12T17:14:16.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (1, 1, N'Admin', N'System', N'admin@rms.com', N'0123456789', N'Manager', CAST(N'2025-10-12' AS Date), CAST(15000000.00 AS Decimal(12, 2)), N'ACTIVE', NULL)
INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (2, 2, N'Nguy?n', N'Van A', N'waiter1@rms.com', N'0123456780', N'Waiter', CAST(N'2025-09-12' AS Date), CAST(8000000.00 AS Decimal(12, 2)), N'ACTIVE', 1)
INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (3, 3, N'Tr?n', N'Th? B', N'chef1@rms.com', N'0123456781', N'Chef', CAST(N'2025-08-13' AS Date), CAST(12000000.00 AS Decimal(12, 2)), N'ACTIVE', 1)
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[table_area] ON 

INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (1, N'T?ng 1', 1)
INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (2, N'T?ng 2', 2)
INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (3, N'Khu v?c ngoài tr?i', 3)
SET IDENTITY_INSERT [dbo].[table_area] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (1, 1, 1, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), N'ACTIVE')
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (2, 2, 2, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), N'ACTIVE')
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (3, 3, 3, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), N'ACTIVE')
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [email], [password_hash], [first_name], [last_name], [phone], [address], [registration_date], [last_login], [account_status], [failed_login_attempts], [lockout_until], [created_at], [updated_at]) VALUES (2, N'waiter1', N'waiter1@rms.com', N'XgvcL3qb9MCwLUtIEOhZwA==:jENIb93KR+EMfnXbl/geHrnQBAe9VfMgDQ7ueBvkXwI=', N'Nguy?n', N'Van A', N'0123456780', NULL, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), NULL, N'ACTIVE', 0, NULL, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2))
INSERT [dbo].[users] ([user_id], [username], [email], [password_hash], [first_name], [last_name], [phone], [address], [registration_date], [last_login], [account_status], [failed_login_attempts], [lockout_until], [created_at], [updated_at]) VALUES (3, N'chef1', N'chef1@rms.com', N'XgvcL3qb9MCwLUtIEOhZwA==:jENIb93KR+EMfnXbl/geHrnQBAe9VfMgDQ7ueBvkXwI=', N'Tr?n', N'Th? B', N'0123456781', NULL, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), NULL, N'ACTIVE', 0, NULL, CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2), CAST(N'2025-10-12T17:14:17.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__bills__D7002CD25C90B690]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[bills] ADD UNIQUE NONCLUSTERED 
(
	[bill_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bills_status]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_bills_status] ON [dbo].[bills]
(
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__customer__B9BE370ED9BCE04E]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_dining_table_number]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[dining_table] ADD  CONSTRAINT [UQ_dining_table_number] UNIQUE NONCLUSTERED 
(
	[table_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__invoices__F58CA1E296624CAC]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[invoices] ADD UNIQUE NONCLUSTERED 
(
	[invoice_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_kitchen_ready]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_kitchen_ready] ON [dbo].[kitchen_tickets]
(
	[preparation_status] ASC,
	[ready_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_order_items_status]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_order_items_status] ON [dbo].[order_items]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orders__99D12D3FE9154ACA]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_orders_status]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_orders_status] ON [dbo].[orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__25F405EB39F76845]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[password_resets] ADD UNIQUE NONCLUSTERED 
(
	[reset_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payments_bill]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_payments_bill] ON [dbo].[payments]
(
	[bill_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions] UNIQUE NONCLUSTERED 
(
	[module] ASC,
	[action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__recipes__973431D42B0DDDA5]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[recipes] ADD UNIQUE NONCLUSTERED 
(
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_date]    Script Date: 10/12/2025 8:34:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_reservations_date] ON [dbo].[reservations]
(
	[status] ASC,
	[reservation_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1ACF27618]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__staff__B9BE370E6E583D91]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164416C0F34]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC57269001C69]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vouchers__357D4CF9AE4E40EF]    Script Date: 10/12/2025 8:34:56 PM ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (sysdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (N'PROFORMA') FOR [status]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [vat_rate]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetime()) FOR [registration_date]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [loyalty_points]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (N'WALK_IN') FOR [customer_type]
GO
ALTER TABLE [dbo].[dining_table] ADD  DEFAULT (N'VACANT') FOR [status]
GO
ALTER TABLE [dbo].[dining_table] ADD  DEFAULT (N'REGULAR') FOR [table_type]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT (N'unit') FOR [uom]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [current_stock]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [minimum_stock]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (sysdatetime()) FOR [issued_at]
GO
ALTER TABLE [dbo].[kitchen_tickets] ADD  DEFAULT (N'RECEIVED') FOR [preparation_status]
GO
ALTER TABLE [dbo].[kitchen_tickets] ADD  DEFAULT (sysdatetime()) FOR [received_time]
GO
ALTER TABLE [dbo].[menu_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT (N'AVAILABLE') FOR [availability]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [min_select]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [max_select]
GO
ALTER TABLE [dbo].[modifier_options] ADD  DEFAULT ((0)) FOR [extra_price]
GO
ALTER TABLE [dbo].[order_item_modifiers] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_item_modifiers] ADD  DEFAULT ((0)) FOR [extra_price]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((1)) FOR [course_no]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (N'NORMAL') FOR [priority]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (N'NEW') FOR [status]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'OPEN') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [opened_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((0)) FOR [deposit_amount]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'NONE') FOR [deposit_status]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'WALKIN') FOR [channel]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[shift_schedule] ADD  DEFAULT (N'PLANNED') FOR [status]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT (sysdatetime()) FOR [txn_time]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[table_action_log] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[table_area] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[table_session] ADD  DEFAULT (sysdatetime()) FOR [open_time]
GO
ALTER TABLE [dbo].[table_session] ADD  DEFAULT (N'OPEN') FOR [status]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [registration_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'ACTIVE') FOR [account_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[voucher_redemptions] ADD  DEFAULT (sysdatetime()) FOR [redeemed_at]
GO
ALTER TABLE [dbo].[voucher_redemptions] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [min_order_total]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [FK_audit_user]
GO
ALTER TABLE [dbo].[bill_items]  WITH CHECK ADD  CONSTRAINT [FK_bi_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[bill_items] CHECK CONSTRAINT [FK_bi_bill]
GO
ALTER TABLE [dbo].[bill_items]  WITH CHECK ADD  CONSTRAINT [FK_bi_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[bill_items] CHECK CONSTRAINT [FK_bi_oi]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_creator]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_order]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_user]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [FK_table_area] FOREIGN KEY([area_id])
REFERENCES [dbo].[table_area] ([area_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [FK_table_area]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [FK_table_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [FK_table_creator]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_creator]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_supplier]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_bill]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [FK_kt_chef] FOREIGN KEY([chef_id])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [FK_kt_chef]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [FK_kt_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [FK_kt_oi]
GO
ALTER TABLE [dbo].[menu_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_mim_group] FOREIGN KEY([group_id])
REFERENCES [dbo].[modifier_groups] ([group_id])
GO
ALTER TABLE [dbo].[menu_item_modifiers] CHECK CONSTRAINT [FK_mim_group]
GO
ALTER TABLE [dbo].[menu_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_mim_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[menu_item_modifiers] CHECK CONSTRAINT [FK_mim_item]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[menu_categories] ([category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_category]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_creator]
GO
ALTER TABLE [dbo].[modifier_options]  WITH CHECK ADD  CONSTRAINT [FK_modopt_group] FOREIGN KEY([group_id])
REFERENCES [dbo].[modifier_groups] ([group_id])
GO
ALTER TABLE [dbo].[modifier_options] CHECK CONSTRAINT [FK_modopt_group]
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_oim_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[order_item_modifiers] CHECK CONSTRAINT [FK_oim_oi]
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_oim_opt] FOREIGN KEY([option_id])
REFERENCES [dbo].[modifier_options] ([option_id])
GO
ALTER TABLE [dbo].[order_item_modifiers] CHECK CONSTRAINT [FK_oim_opt]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_cancel_by] FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_cancel_by]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_item]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_order]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_served_by] FOREIGN KEY([served_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_served_by]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_customer]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_table]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_waiter] FOREIGN KEY([waiter_id])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_waiter]
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD  CONSTRAINT [FK_password_resets_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_resets] CHECK CONSTRAINT [FK_password_resets_user]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payment_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payment_bill]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payment_staff] FOREIGN KEY([processed_by])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payment_staff]
GO
ALTER TABLE [dbo].[pricing_rules]  WITH CHECK ADD  CONSTRAINT [FK_pr_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[pricing_rules] CHECK CONSTRAINT [FK_pr_item]
GO
ALTER TABLE [dbo].[recipe_items]  WITH CHECK ADD  CONSTRAINT [FK_ri_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[inventory_items] ([item_id])
GO
ALTER TABLE [dbo].[recipe_items] CHECK CONSTRAINT [FK_ri_item]
GO
ALTER TABLE [dbo].[recipe_items]  WITH CHECK ADD  CONSTRAINT [FK_ri_recipe] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[recipe_items] CHECK CONSTRAINT [FK_ri_recipe]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipe_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipe_item]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_creator]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_customer]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_table]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([permission_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [FK_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [FK_sessions_user]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [FK_shift_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [FK_shift_creator]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [FK_shift_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [FK_shift_staff]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_manager]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_user]
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD  CONSTRAINT [FK_stock_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[inventory_items] ([item_id])
GO
ALTER TABLE [dbo].[stock_transactions] CHECK CONSTRAINT [FK_stock_item]
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD  CONSTRAINT [FK_suppliers_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[suppliers] CHECK CONSTRAINT [FK_suppliers_creator]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_actor]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_dst] FOREIGN KEY([dst_table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_dst]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_order]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_src] FOREIGN KEY([src_table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_src]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [FK_ts_order] FOREIGN KEY([current_order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [FK_ts_order]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [FK_ts_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [FK_ts_table]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_bill]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_customer]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([voucher_id])
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_voucher]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [FK_voucher_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [FK_voucher_creator]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [CK_audit_new_json] CHECK  (([new_values] IS NULL OR isjson([new_values])=(1)))
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [CK_audit_new_json]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [CK_audit_old_json] CHECK  (([old_values] IS NULL OR isjson([old_values])=(1)))
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [CK_audit_old_json]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [CK_bill_status] CHECK  (([status]=N'REFUNDED' OR [status]=N'VOID' OR [status]=N'FINAL' OR [status]=N'PROFORMA'))
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [CK_bill_status]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [CK_customers_type] CHECK  (([customer_type]=N'VIP' OR [customer_type]=N'MEMBER' OR [customer_type]=N'WALK_IN'))
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [CK_customers_type]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [CK_table_status] CHECK  (([status]=N'OUT_OF_SERVICE' OR [status]=N'CLEANING' OR [status]=N'REQUEST_BILL' OR [status]=N'IN_USE' OR [status]=N'SEATED' OR [status]=N'HELD' OR [status]=N'VACANT'))
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [CK_table_status]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [CK_table_type] CHECK  (([table_type]=N'BAR' OR [table_type]=N'OUTDOOR' OR [table_type]=N'VIP' OR [table_type]=N'REGULAR'))
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [CK_table_type]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [CK_inventory_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [CK_inventory_status]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [CK_kt_status] CHECK  (([preparation_status]=N'CANCELLED' OR [preparation_status]=N'SERVED' OR [preparation_status]=N'PICKED' OR [preparation_status]=N'READY' OR [preparation_status]=N'COOKING' OR [preparation_status]=N'RECEIVED'))
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [CK_kt_status]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [CK_menu_availability] CHECK  (([availability]=N'86' OR [availability]=N'TEMP_UNAVAILABLE' OR [availability]=N'AVAILABLE'))
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [CK_menu_availability]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_oi_priority] CHECK  (([priority]=N'HIGH' OR [priority]=N'NORMAL' OR [priority]=N'LOW'))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_oi_priority]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_oi_status] CHECK  (([status]=N'CANCELLED' OR [status]=N'SERVED' OR [status]=N'READY' OR [status]=N'COOKING' OR [status]=N'SENT' OR [status]=N'NEW'))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_oi_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_order_status] CHECK  (([status]=N'SETTLED' OR [status]=N'CANCELLED' OR [status]=N'SERVED' OR [status]=N'READY' OR [status]=N'PARTIAL_READY' OR [status]=N'COOKING' OR [status]=N'SENT_TO_KITCHEN' OR [status]=N'OPEN'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_order_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_order_type] CHECK  (([order_type]=N'TAKEAWAY' OR [order_type]=N'DINE_IN'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_order_type]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payment_method] CHECK  (([method]=N'VOUCHER' OR [method]=N'TRANSFER' OR [method]=N'ONLINE' OR [method]=N'CARD' OR [method]=N'CASH'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payment_method]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payment_status] CHECK  (([status]=N'VOIDED' OR [status]=N'REFUNDED' OR [status]=N'FAILED' OR [status]=N'SUCCESS' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payment_status]
GO
ALTER TABLE [dbo].[pricing_rules]  WITH CHECK ADD  CONSTRAINT [CK_pr_discount_type] CHECK  (([discount_type]=N'AMOUNT' OR [discount_type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[pricing_rules] CHECK CONSTRAINT [CK_pr_discount_type]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_channel] CHECK  (([channel]=N'OTHER' OR [channel]=N'APP' OR [channel]=N'WEB' OR [channel]=N'WALKIN' OR [channel]=N'PHONE'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_channel]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_deposit_status] CHECK  (([deposit_status]=N'FORFEITED' OR [deposit_status]=N'REFUNDED' OR [deposit_status]=N'PAID' OR [deposit_status]=N'PENDING' OR [deposit_status]=N'NONE'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_deposit_status]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_status] CHECK  (([status]=N'CANCELLED' OR [status]=N'NO_SHOW' OR [status]=N'SEATED' OR [status]=N'CONFIRMED' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_status]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [CK_roles_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [CK_roles_status]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [CK_sessions_status] CHECK  (([status]=N'EXPIRED' OR [status]=N'REVOKED' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [CK_sessions_status]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [CK_shift_status] CHECK  (([status]=N'CANCELLED' OR [status]=N'ABSENT' OR [status]=N'CHECKOUT' OR [status]=N'CHECKIN' OR [status]=N'PLANNED'))
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [CK_shift_status]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [CK_staff_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [CK_staff_status]
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD  CONSTRAINT [CK_stock_txn_type] CHECK  (([txn_type]=N'RETURN' OR [txn_type]=N'ADJUSTMENT' OR [txn_type]=N'WASTE' OR [txn_type]=N'USAGE' OR [txn_type]=N'OUT' OR [txn_type]=N'IN'))
GO
ALTER TABLE [dbo].[stock_transactions] CHECK CONSTRAINT [CK_stock_txn_type]
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD  CONSTRAINT [CK_suppliers_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[suppliers] CHECK CONSTRAINT [CK_suppliers_status]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [CK_tal_action] CHECK  (([action_type]=N'TRANSFER_ORDER' OR [action_type]=N'MOVE' OR [action_type]=N'SPLIT' OR [action_type]=N'MERGE'))
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [CK_tal_action]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [CK_ts_status] CHECK  (([status]=N'CLOSED' OR [status]=N'OPEN'))
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [CK_ts_status]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [CK_user_roles_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [CK_user_roles_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_account_status] CHECK  (([account_status]=N'PENDING' OR [account_status]=N'DISABLED' OR [account_status]=N'LOCKED' OR [account_status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_account_status]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [CK_voucher_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [CK_voucher_status]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [CK_voucher_type] CHECK  (([discount_type]=N'AMOUNT' OR [discount_type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [CK_voucher_type]
GO
USE [master]
GO
