USE [master]
GO
/****** Object:  Database [RMS]    Script Date: 15/11/2025 10:14:12 CH ******/
CREATE DATABASE [RMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANGLINHHE17601\MSSQL\DATA\RMS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.QUANGLINHHE17601\MSSQL\DATA\RMS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Vietnamese_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RMS]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[action] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[table_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[record_id] [bigint] NULL,
	[old_values] [nvarchar](max) COLLATE Vietnamese_CI_AS NULL,
	[new_values] [nvarchar](max) COLLATE Vietnamese_CI_AS NULL,
	[timestamp] [datetime2](0) NULL,
	[ip_address] [nvarchar](64) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_items]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_items](
	[bill_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[order_item_id] [bigint] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
	[line_total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bills]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bills](
	[bill_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NULL,
	[bill_no] [nvarchar](30) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](12) COLLATE Vietnamese_CI_AS NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[discount_amount] [decimal](12, 2) NOT NULL,
	[tax_amount] [decimal](12, 2) NOT NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[vat_rate] [decimal](5, 2) NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime2](0) NULL,
	[finalized_at] [datetime2](0) NULL,
	[table_id] [int] NULL,
	[voucher_id] [int] NULL,
	[voucher_code] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[voided] [bit] NOT NULL,
	[void_reason] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[full_name] [nvarchar](150) COLLATE Vietnamese_CI_AS NULL,
	[email] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[phone] [varchar](20) COLLATE Vietnamese_CI_AS NULL,
	[address] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[registration_date] [datetime2](0) NULL,
	[loyalty_points] [int] NOT NULL,
	[customer_type] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dining_table]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dining_table](
	[table_id] [int] IDENTITY(1,1) NOT NULL,
	[area_id] [int] NULL,
	[table_number] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[capacity] [int] NOT NULL,
	[location] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[table_type] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[map_x] [int] NULL,
	[map_y] [int] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[table_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_items]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](150) COLLATE Vietnamese_CI_AS NOT NULL,
	[category] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[uom] [nvarchar](30) COLLATE Vietnamese_CI_AS NOT NULL,
	[current_stock] [decimal](12, 3) NOT NULL,
	[minimum_stock] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](12, 2) NOT NULL,
	[supplier_id] [int] NULL,
	[expiry_date] [date] NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[invoice_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[invoice_no] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[pdf_url] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[issued_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kitchen_tickets]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitchen_tickets](
	[kt_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_item_id] [bigint] NOT NULL,
	[station] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[preparation_status] [nvarchar](12) COLLATE Vietnamese_CI_AS NOT NULL,
	[received_time] [datetime2](0) NULL,
	[start_time] [datetime2](0) NULL,
	[ready_time] [datetime2](0) NULL,
	[picked_time] [datetime2](0) NULL,
	[served_time] [datetime2](0) NULL,
	[chef_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_categories]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_item_modifiers]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_item_modifiers](
	[menu_item_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
 CONSTRAINT [PK_menu_item_modifiers] PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC,
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[menu_item_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NULL,
	[name] [nvarchar](150) COLLATE Vietnamese_CI_AS NOT NULL,
	[description] [nvarchar](max) COLLATE Vietnamese_CI_AS NULL,
	[base_price] [decimal](12, 2) NOT NULL,
	[availability] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[preparation_time] [int] NULL,
	[image_url] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifier_groups]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[is_required] [bit] NOT NULL,
	[min_select] [int] NOT NULL,
	[max_select] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modifier_options]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modifier_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[option_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[extra_price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_item_modifiers]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_item_modifiers](
	[order_item_id] [bigint] NOT NULL,
	[option_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[extra_price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_order_item_modifiers] PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC,
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[base_unit_price] [decimal](12, 2) NOT NULL,
	[final_unit_price] [decimal](12, 2) NOT NULL,
	[course_no] [tinyint] NOT NULL,
	[priority] [nvarchar](10) COLLATE Vietnamese_CI_AS NOT NULL,
	[special_instructions] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](12) COLLATE Vietnamese_CI_AS NOT NULL,
	[cancelled_by] [int] NULL,
	[cancel_reason] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[served_by] [int] NULL,
	[served_at] [datetime2](0) NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_code] [nvarchar](30) COLLATE Vietnamese_CI_AS NULL,
	[order_type] [nvarchar](10) COLLATE Vietnamese_CI_AS NOT NULL,
	[customer_id] [int] NULL,
	[table_id] [int] NULL,
	[waiter_id] [int] NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[notes] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[opened_at] [datetime2](0) NULL,
	[closed_at] [datetime2](0) NULL,
	[subtotal] [decimal](18, 2) NULL,
	[tax_amount] [decimal](18, 2) NULL,
	[discount_amount] [decimal](18, 2) NULL,
	[total_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[reset_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[reset_token] [nvarchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_at] [datetime2](0) NULL,
	[expires_at] [datetime2](0) NULL,
	[used] [bit] NOT NULL,
	[ip_address] [nvarchar](64) COLLATE Vietnamese_CI_AS NULL,
	[otp_hash] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
	[used_at] [datetime2](7) NULL,
	[user_agent] [varchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[reset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[bill_id] [bigint] NOT NULL,
	[method] [nvarchar](15) COLLATE Vietnamese_CI_AS NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[provider] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[transaction_id] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](12) COLLATE Vietnamese_CI_AS NOT NULL,
	[paid_at] [datetime2](0) NULL,
	[processed_by] [int] NULL,
	[order_id] [bigint] NULL,
	[paid_channel_note] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_name] [nvarchar](150) COLLATE Vietnamese_CI_AS NOT NULL,
	[description] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[module] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[action] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pricing_rules]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pricing_rules](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[day_of_week] [tinyint] NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[price] [decimal](12, 2) NULL,
	[discount_type] [nvarchar](10) COLLATE Vietnamese_CI_AS NULL,
	[discount_value] [decimal](12, 2) NULL,
	[active_from] [date] NULL,
	[active_to] [date] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_items]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_items](
	[recipe_item_id] [int] IDENTITY(1,1) NOT NULL,
	[recipe_id] [int] NOT NULL,
	[item_id] [int] NOT NULL,
	[qty] [decimal](12, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_item_id] [int] NOT NULL,
	[version] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[note] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservations]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservations](
	[reservation_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[table_id] [int] NULL,
	[reservation_date] [date] NOT NULL,
	[reservation_time] [time](7) NOT NULL,
	[party_size] [int] NOT NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[special_requests] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[created_by] [int] NULL,
	[deposit_amount] [decimal](12, 2) NOT NULL,
	[deposit_status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[confirmation_code] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[channel] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[reservation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_permission_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
	[assigned_date] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[description] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[access_token] [nvarchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[refresh_token] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[created_at] [datetime2](0) NULL,
	[expires_at] [datetime2](0) NULL,
	[ip_address] [nvarchar](64) COLLATE Vietnamese_CI_AS NULL,
	[user_agent] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shift_schedule]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shift_schedule](
	[shift_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [int] NOT NULL,
	[shift_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [nvarchar](12) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[shift_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[first_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[last_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[email] [nvarchar](191) COLLATE Vietnamese_CI_AS NULL,
	[phone] [nvarchar](30) COLLATE Vietnamese_CI_AS NULL,
	[position] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[hire_date] [date] NULL,
	[salary] [decimal](12, 2) NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[manager_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_transactions]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_transactions](
	[stock_txn_id] [bigint] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[txn_type] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[quantity] [decimal](12, 3) NOT NULL,
	[unit_cost] [decimal](12, 2) NOT NULL,
	[txn_time] [datetime2](0) NULL,
	[ref_type] [nvarchar](50) COLLATE Vietnamese_CI_AS NULL,
	[ref_id] [bigint] NULL,
	[note] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[stock_txn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [nvarchar](150) COLLATE Vietnamese_CI_AS NOT NULL,
	[contact_person] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[email] [nvarchar](191) COLLATE Vietnamese_CI_AS NULL,
	[phone] [nvarchar](30) COLLATE Vietnamese_CI_AS NULL,
	[address] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_action_log]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_action_log](
	[action_id] [bigint] IDENTITY(1,1) NOT NULL,
	[action_type] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[src_table_id] [int] NULL,
	[dst_table_id] [int] NULL,
	[order_id] [bigint] NULL,
	[actor_id] [int] NULL,
	[reason] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[created_at] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[action_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_area]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_area](
	[area_id] [int] IDENTITY(1,1) NOT NULL,
	[area_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table_session]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table_session](
	[table_session_id] [bigint] IDENTITY(1,1) NOT NULL,
	[table_id] [int] NOT NULL,
	[open_time] [datetime2](0) NOT NULL,
	[close_time] [datetime2](0) NULL,
	[status] [nvarchar](10) COLLATE Vietnamese_CI_AS NOT NULL,
	[current_order_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[table_session_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_role_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
	[assigned_date] [datetime2](0) NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) COLLATE Vietnamese_CI_AS NOT NULL,
	[email] [nvarchar](191) COLLATE Vietnamese_CI_AS NOT NULL,
	[password_hash] [nvarchar](255) COLLATE Vietnamese_CI_AS NOT NULL,
	[first_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[last_name] [nvarchar](100) COLLATE Vietnamese_CI_AS NULL,
	[phone] [nvarchar](30) COLLATE Vietnamese_CI_AS NULL,
	[address] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[registration_date] [datetime2](0) NULL,
	[last_login] [datetime2](0) NULL,
	[account_status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[failed_login_attempts] [int] NOT NULL,
	[lockout_until] [datetime2](0) NULL,
	[created_at] [datetime2](0) NULL,
	[updated_at] [datetime2](0) NULL,
	[avatar_url] [nvarchar](500) COLLATE Vietnamese_CI_AS NULL,
	[activation_token] [varchar](128) COLLATE Vietnamese_CI_AS NULL,
	[activation_expires_at] [datetime2](3) NULL,
	[activation_used_at] [datetime2](3) NULL,
	[activation_otp_hash] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher_redemptions]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher_redemptions](
	[redemption_id] [bigint] IDENTITY(1,1) NOT NULL,
	[voucher_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[bill_id] [bigint] NULL,
	[redeemed_at] [datetime2](0) NULL,
	[amount] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[redemption_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vouchers]    Script Date: 15/11/2025 10:14:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vouchers](
	[voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) COLLATE Vietnamese_CI_AS NOT NULL,
	[description] [nvarchar](255) COLLATE Vietnamese_CI_AS NULL,
	[discount_type] [nvarchar](10) COLLATE Vietnamese_CI_AS NOT NULL,
	[discount_value] [decimal](12, 2) NOT NULL,
	[valid_from] [date] NULL,
	[valid_to] [date] NULL,
	[usage_limit] [int] NULL,
	[min_order_total] [decimal](12, 2) NOT NULL,
	[status] [nvarchar](20) COLLATE Vietnamese_CI_AS NOT NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bill_items] ON 

INSERT [dbo].[bill_items] ([bill_item_id], [bill_id], [order_item_id], [quantity], [unit_price], [line_total]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)))
INSERT [dbo].[bill_items] ([bill_item_id], [bill_id], [order_item_id], [quantity], [unit_price], [line_total]) VALUES (2, 2, 2, CAST(1.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)))
INSERT [dbo].[bill_items] ([bill_item_id], [bill_id], [order_item_id], [quantity], [unit_price], [line_total]) VALUES (3, 2, 3, CAST(1.00 AS Decimal(10, 2)), CAST(70000.00 AS Decimal(12, 2)), CAST(70000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[bill_items] OFF
GO
SET IDENTITY_INSERT [dbo].[bills] ON 

INSERT [dbo].[bills] ([bill_id], [order_id], [bill_no], [status], [subtotal], [discount_amount], [tax_amount], [total_amount], [vat_rate], [created_by], [created_at], [finalized_at], [table_id], [voucher_id], [voucher_code], [voided], [void_reason]) VALUES (1, NULL, N'BILL-1761683471898-1', N'FINAL', CAST(45000.00 AS Decimal(12, 2)), CAST(0.00 AS Decimal(12, 2)), CAST(4500.00 AS Decimal(12, 2)), CAST(49500.00 AS Decimal(12, 2)), CAST(10.00 AS Decimal(5, 2)), 3, CAST(N'2025-10-29T03:31:12.0000000' AS DateTime2), CAST(N'2025-10-29T03:31:37.0000000' AS DateTime2), 1, NULL, NULL, 0, NULL)
INSERT [dbo].[bills] ([bill_id], [order_id], [bill_no], [status], [subtotal], [discount_amount], [tax_amount], [total_amount], [vat_rate], [created_by], [created_at], [finalized_at], [table_id], [voucher_id], [voucher_code], [voided], [void_reason]) VALUES (2, NULL, N'BILL-1761684608829-1', N'FINAL', CAST(115000.00 AS Decimal(12, 2)), CAST(69000.00 AS Decimal(12, 2)), CAST(11500.00 AS Decimal(12, 2)), CAST(57500.00 AS Decimal(12, 2)), CAST(10.00 AS Decimal(5, 2)), 3, CAST(N'2025-10-29T03:50:09.0000000' AS DateTime2), CAST(N'2025-10-29T03:50:49.0000000' AS DateTime2), 1, 4, N'SALE60', 0, NULL)
SET IDENTITY_INSERT [dbo].[bills] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [user_id], [full_name], [email], [phone], [address], [registration_date], [loyalty_points], [customer_type]) VALUES (2, NULL, N'Vũ Quang Linh', N'linhvqhe176018@fpt.edu.vn', N'0344768409', NULL, CAST(N'2025-11-03T11:17:52.0000000' AS DateTime2), 0, N'WALK_IN')
INSERT [dbo].[customers] ([customer_id], [user_id], [full_name], [email], [phone], [address], [registration_date], [loyalty_points], [customer_type]) VALUES (5, NULL, N'Nguyễn Văn An', N'an.nguyen@example.com', N'0901234567', N'123 Lý Thường Kiệt, Hà Nội', CAST(N'2025-11-10T09:59:44.0000000' AS DateTime2), 120, N'WALK_IN')
INSERT [dbo].[customers] ([customer_id], [user_id], [full_name], [email], [phone], [address], [registration_date], [loyalty_points], [customer_type]) VALUES (6, NULL, N'Trần Thị Bình', N'binh.tran@example.com', N'0909876543', N'45 Nguyễn Huệ, TP. Hồ Chí Minh', CAST(N'2025-11-10T09:59:44.0000000' AS DateTime2), 300, N'WALK_IN')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[dining_table] ON 

INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (1, 1, N'T1-01', 4, N'Góc cửa ra vào', N'SEATED', N'REGULAR', 100, 100, 1)
INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (2, 1, N'T1-02', 2, N'Góc phòng', N'VACANT', N'REGULAR', 200, 100, 1)
INSERT [dbo].[dining_table] ([table_id], [area_id], [table_number], [capacity], [location], [status], [table_type], [map_x], [map_y], [created_by]) VALUES (3, 1, N'T1-03', 6, N'Giữa phòng', N'VACANT', N'REGULAR', 300, 100, 1)
SET IDENTITY_INSERT [dbo].[dining_table] OFF
GO
SET IDENTITY_INSERT [dbo].[inventory_items] ON 

INSERT [dbo].[inventory_items] ([item_id], [item_name], [category], [uom], [current_stock], [minimum_stock], [unit_cost], [supplier_id], [expiry_date], [status], [created_by]) VALUES (1, N'Thịt bò úc', N'Thịt', N'kg', CAST(49.400 AS Decimal(12, 3)), CAST(10.000 AS Decimal(12, 3)), CAST(250000.00 AS Decimal(12, 2)), 3, NULL, N'ACTIVE', 1)
INSERT [dbo].[inventory_items] ([item_id], [item_name], [category], [uom], [current_stock], [minimum_stock], [unit_cost], [supplier_id], [expiry_date], [status], [created_by]) VALUES (2, N'Thịt heo ba chỉ', N'Thịt', N'kg', CAST(36.800 AS Decimal(12, 3)), CAST(10.000 AS Decimal(12, 3)), CAST(120000.00 AS Decimal(12, 2)), 3, NULL, N'ACTIVE', 1)
INSERT [dbo].[inventory_items] ([item_id], [item_name], [category], [uom], [current_stock], [minimum_stock], [unit_cost], [supplier_id], [expiry_date], [status], [created_by]) VALUES (3, N'Thịt gà', N'Thịt', N'kg', CAST(30.000 AS Decimal(12, 3)), CAST(8.000 AS Decimal(12, 3)), CAST(80000.00 AS Decimal(12, 2)), 3, NULL, N'ACTIVE', 1)
SET IDENTITY_INSERT [dbo].[inventory_items] OFF
GO
SET IDENTITY_INSERT [dbo].[kitchen_tickets] ON 

INSERT [dbo].[kitchen_tickets] ([kt_id], [order_item_id], [station], [preparation_status], [received_time], [start_time], [ready_time], [picked_time], [served_time], [chef_id]) VALUES (1, 1, N'HOT', N'SERVED', CAST(N'2025-10-29T03:30:30.0000000' AS DateTime2), CAST(N'2025-10-29T03:30:40.0000000' AS DateTime2), CAST(N'2025-10-29T03:30:41.0000000' AS DateTime2), CAST(N'2025-10-29T03:30:44.0000000' AS DateTime2), CAST(N'2025-10-29T03:30:58.0000000' AS DateTime2), NULL)
INSERT [dbo].[kitchen_tickets] ([kt_id], [order_item_id], [station], [preparation_status], [received_time], [start_time], [ready_time], [picked_time], [served_time], [chef_id]) VALUES (2, 2, N'HOT', N'SERVED', CAST(N'2025-10-29T03:49:18.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:28.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:30.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:37.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:49.0000000' AS DateTime2), NULL)
INSERT [dbo].[kitchen_tickets] ([kt_id], [order_item_id], [station], [preparation_status], [received_time], [start_time], [ready_time], [picked_time], [served_time], [chef_id]) VALUES (3, 3, N'HOT', N'SERVED', CAST(N'2025-10-29T03:49:18.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:31.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:33.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:35.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:47.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[kitchen_tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[menu_categories] ON 

INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (1, N'Khai vị', 1)
INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (2, N'Món chính', 2)
INSERT [dbo].[menu_categories] ([category_id], [category_name], [sort_order]) VALUES (3, N'Món phụ', 3)
SET IDENTITY_INSERT [dbo].[menu_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[menu_items] ON 

INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (1, 1, N'Gỏi cuốn tôm thịt', N'Gỏi cuốn tươi ngon với tôm và thịt', CAST(45000.00 AS Decimal(12, 2)), N'AVAILABLE', 10, N'https://cdn.tgdd.vn/2021/08/CookRecipe/Avatar/goi-cuon-tom-thit-thumbnail-1.jpg', 1, 1)
INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (2, 2, N'Chả cá Lã Vọng', N'Chả cá truyền thống Hà Nội', CAST(65000.00 AS Decimal(12, 2)), N'AVAILABLE', 15, N'https://cdn.xanhsm.com/2025/01/20fafb8e-cha-ca-la-vong-hcm-1.jpg', 1, 1)
INSERT [dbo].[menu_items] ([menu_item_id], [category_id], [name], [description], [base_price], [availability], [preparation_time], [image_url], [is_active], [created_by]) VALUES (3, 2, N'Phở bò tái', N'Phở bò truyền thống', CAST(75000.00 AS Decimal(12, 2)), N'AVAILABLE', 20, N'https://bizweb.dktcdn.net/thumb/grande/100/493/671/articles/hinh-anh-web-58.jpg?v=1727146043333', 1, 1)
SET IDENTITY_INSERT [dbo].[menu_items] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_item_id], [order_id], [menu_item_id], [quantity], [base_unit_price], [final_unit_price], [course_no], [priority], [special_instructions], [status], [cancelled_by], [cancel_reason], [served_by], [served_at], [created_at]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)), 2, N'NORMAL', N'', N'SERVED', NULL, NULL, 5, CAST(N'2025-10-29T03:30:58.0000000' AS DateTime2), CAST(N'2025-10-29T03:30:30.0000000' AS DateTime2))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [menu_item_id], [quantity], [base_unit_price], [final_unit_price], [course_no], [priority], [special_instructions], [status], [cancelled_by], [cancel_reason], [served_by], [served_at], [created_at]) VALUES (2, 2, 1, CAST(1.00 AS Decimal(10, 2)), CAST(45000.00 AS Decimal(12, 2)), CAST(45000.00 AS Decimal(12, 2)), 2, N'NORMAL', N'', N'SERVED', NULL, NULL, 5, CAST(N'2025-10-29T03:49:49.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:18.0000000' AS DateTime2))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [menu_item_id], [quantity], [base_unit_price], [final_unit_price], [course_no], [priority], [special_instructions], [status], [cancelled_by], [cancel_reason], [served_by], [served_at], [created_at]) VALUES (3, 2, 4, CAST(1.00 AS Decimal(10, 2)), CAST(70000.00 AS Decimal(12, 2)), CAST(70000.00 AS Decimal(12, 2)), 2, N'NORMAL', N'', N'SERVED', NULL, NULL, 5, CAST(N'2025-10-29T03:49:47.0000000' AS DateTime2), CAST(N'2025-10-29T03:49:18.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [order_code], [order_type], [customer_id], [table_id], [waiter_id], [status], [notes], [opened_at], [closed_at], [subtotal], [tax_amount], [discount_amount], [total_amount]) VALUES (1, N'ORD1761683429852', N'DINE_IN', NULL, 1, 5, N'SETTLED', N'', CAST(N'2025-10-29T03:30:30.0000000' AS DateTime2), CAST(N'2025-10-29T03:31:12.0000000' AS DateTime2), CAST(45000.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(49500.00 AS Decimal(18, 2)))
INSERT [dbo].[orders] ([order_id], [order_code], [order_type], [customer_id], [table_id], [waiter_id], [status], [notes], [opened_at], [closed_at], [subtotal], [tax_amount], [discount_amount], [total_amount]) VALUES (2, N'ORD1761684558210', N'DINE_IN', NULL, 1, 5, N'SETTLED', N'', CAST(N'2025-10-29T03:49:18.0000000' AS DateTime2), CAST(N'2025-10-29T03:50:09.0000000' AS DateTime2), CAST(115000.00 AS Decimal(18, 2)), CAST(11500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(126500.00 AS Decimal(18, 2)))
INSERT [dbo].[orders] ([order_id], [order_code], [order_type], [customer_id], [table_id], [waiter_id], [status], [notes], [opened_at], [closed_at], [subtotal], [tax_amount], [discount_amount], [total_amount]) VALUES (3, N'ORD1761684782713', N'DINE_IN', NULL, 1, 5, N'SETTLED', N'', CAST(N'2025-10-29T03:53:03.0000000' AS DateTime2), CAST(N'2025-10-29T07:34:12.0000000' AS DateTime2), CAST(115000.00 AS Decimal(18, 2)), CAST(11500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(126500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[password_resets] ON 

INSERT [dbo].[password_resets] ([reset_id], [user_id], [reset_token], [created_at], [expires_at], [used], [ip_address], [otp_hash], [used_at], [user_agent]) VALUES (1, 2, N'Z73YeoEPvAVbUlLnr9O-4x7U0qWenYOEFXuWZzIWoKY', CAST(N'2025-10-12T15:21:18.0000000' AS DateTime2), CAST(N'2025-10-12T22:36:18.0000000' AS DateTime2), 1, N'0:0:0:0:0:0:0:1', N'$2a$12$R4UVwW6IV8AcyuIOixTqpOpeNbCz/LUo0Jm84YtPDCQNJ9/O2gnVe', CAST(N'2025-10-12T15:27:28.2392707' AS DateTime2), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0')
INSERT [dbo].[password_resets] ([reset_id], [user_id], [reset_token], [created_at], [expires_at], [used], [ip_address], [otp_hash], [used_at], [user_agent]) VALUES (2, 2, N'mImSUUVgkiaVpZlHnp3dcO_Jl63vENj2-inwCJcjTR4', CAST(N'2025-10-12T15:27:28.0000000' AS DateTime2), CAST(N'2025-10-12T22:42:28.0000000' AS DateTime2), 1, N'0:0:0:0:0:0:0:1', N'$2a$12$Eb5ufoNMi6GJQ8DS/gYb2e2hrbRtQtPR8cRWD.LtEKDA4uwPd3Y1u', CAST(N'2025-10-12T15:30:52.5775347' AS DateTime2), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0')
INSERT [dbo].[password_resets] ([reset_id], [user_id], [reset_token], [created_at], [expires_at], [used], [ip_address], [otp_hash], [used_at], [user_agent]) VALUES (3, 2, N'd3ydSH5dkLHzuycYjnzrodqR914s1Gj2tEVhbbElezA', CAST(N'2025-10-12T15:30:53.0000000' AS DateTime2), CAST(N'2025-10-12T22:45:53.0000000' AS DateTime2), 1, N'0:0:0:0:0:0:0:1', N'$2a$12$nHigLoFMiC1lUJ0vS5L5ruGVo7z0IytktQNvhS3sm4TdgqV581mXq', CAST(N'2025-10-12T15:31:51.7079673' AS DateTime2), N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0')
SET IDENTITY_INSERT [dbo].[password_resets] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([payment_id], [bill_id], [method], [amount], [provider], [transaction_id], [status], [paid_at], [processed_by], [order_id], [paid_channel_note]) VALUES (0, 1, N'VNPAY', CAST(49500.00 AS Decimal(12, 2)), N'VNPAY', N'15223855', N'SUCCESS', CAST(N'2025-10-29T03:31:37.0000000' AS DateTime2), 3, NULL, N'Thanh toán QR VNPAY bàn #1')
INSERT [dbo].[payments] ([payment_id], [bill_id], [method], [amount], [provider], [transaction_id], [status], [paid_at], [processed_by], [order_id], [paid_channel_note]) VALUES (1, 2, N'VNPAY', CAST(57500.00 AS Decimal(12, 2)), N'VNPAY', N'15223865', N'SUCCESS', CAST(N'2025-10-29T03:50:49.0000000' AS DateTime2), 3, NULL, N'Thanh toán QR VNPAY bàn #1')
INSERT [dbo].[payments] ([payment_id], [bill_id], [method], [amount], [provider], [transaction_id], [status], [paid_at], [processed_by], [order_id], [paid_channel_note]) VALUES (2, 3, N'VNPAY', CAST(138000.00 AS Decimal(12, 2)), N'VNPAY', N'15223924', N'SUCCESS', CAST(N'2025-10-29T07:35:44.0000000' AS DateTime2), 3, NULL, N'Thanh toán QR VNPAY bàn #1')
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (1, N'STAFF_CREATE', N'Tạo nhân viên mới', N'STAFF', N'CREATE')
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (2, N'STAFF_READ', N'Xem thông tin nhân viên', N'STAFF', N'READ')
INSERT [dbo].[permissions] ([permission_id], [permission_name], [description], [module], [action]) VALUES (3, N'STAFF_UPDATE', N'Cập nhật thông tin nhân viên', N'STAFF', N'UPDATE')
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[pricing_rules] ON 

INSERT [dbo].[pricing_rules] ([rule_id], [menu_item_id], [day_of_week], [start_time], [end_time], [price], [discount_type], [discount_value], [active_from], [active_to], [is_active]) VALUES (1, 1, 1, CAST(N'11:00:00' AS Time), CAST(N'13:30:00' AS Time), NULL, N'PERCENT', CAST(20.00 AS Decimal(12, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[pricing_rules] ([rule_id], [menu_item_id], [day_of_week], [start_time], [end_time], [price], [discount_type], [discount_value], [active_from], [active_to], [is_active]) VALUES (2, 2, 5, CAST(N'18:00:00' AS Time), CAST(N'21:00:00' AS Time), CAST(55000.00 AS Decimal(12, 2)), NULL, NULL, CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[pricing_rules] ([rule_id], [menu_item_id], [day_of_week], [start_time], [end_time], [price], [discount_type], [discount_value], [active_from], [active_to], [is_active]) VALUES (3, 9, 0, CAST(N'14:00:00' AS Time), CAST(N'17:00:00' AS Time), NULL, N'AMOUNT', CAST(10000.00 AS Decimal(12, 2)), CAST(N'2025-10-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[pricing_rules] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_items] ON 

INSERT [dbo].[recipe_items] ([recipe_item_id], [recipe_id], [item_id], [qty]) VALUES (1, 1, 4, CAST(0.150 AS Decimal(12, 3)))
INSERT [dbo].[recipe_items] ([recipe_item_id], [recipe_id], [item_id], [qty]) VALUES (2, 1, 2, CAST(0.100 AS Decimal(12, 3)))
INSERT [dbo].[recipe_items] ([recipe_item_id], [recipe_id], [item_id], [qty]) VALUES (3, 1, 19, CAST(0.050 AS Decimal(12, 3)))
SET IDENTITY_INSERT [dbo].[recipe_items] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([recipe_id], [menu_item_id], [version], [is_active], [note]) VALUES (1, 1, 1, 1, N'Công thức Gỏi cuốn tôm thịt')
INSERT [dbo].[recipes] ([recipe_id], [menu_item_id], [version], [is_active], [note]) VALUES (2, 3, 1, 1, N'Công thức Phở bò tái')
INSERT [dbo].[recipes] ([recipe_id], [menu_item_id], [version], [is_active], [note]) VALUES (3, 4, 1, 1, N'Công thức Bún chả Hà Nội')
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[reservations] ON 

INSERT [dbo].[reservations] ([reservation_id], [customer_id], [table_id], [reservation_date], [reservation_time], [party_size], [status], [special_requests], [created_by], [deposit_amount], [deposit_status], [confirmation_code], [channel], [created_at], [updated_at]) VALUES (10, 2, 6, CAST(N'2025-11-12' AS Date), CAST(N'18:00:00' AS Time), 4, N'SEATED', N'phải sạch sẽ', NULL, CAST(0.00 AS Decimal(12, 2)), N'PENDING', N'00732A45', N'WEB', CAST(N'2025-11-12T05:48:30.0000000' AS DateTime2), CAST(N'2025-11-12T05:49:32.0000000' AS DateTime2))
INSERT [dbo].[reservations] ([reservation_id], [customer_id], [table_id], [reservation_date], [reservation_time], [party_size], [status], [special_requests], [created_by], [deposit_amount], [deposit_status], [confirmation_code], [channel], [created_at], [updated_at]) VALUES (11, 2, 1, CAST(N'2025-11-16' AS Date), CAST(N'10:00:00' AS Time), 4, N'SEATED', N'', NULL, CAST(0.00 AS Decimal(12, 2)), N'PENDING', N'68491BB0', N'WEB', CAST(N'2025-11-15T20:18:16.0000000' AS DateTime2), CAST(N'2025-11-15T20:22:16.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[role_permissions] ON 

INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (15, 1, 10, CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (16, 1, 11, CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
INSERT [dbo].[role_permissions] ([role_permission_id], [role_id], [permission_id], [assigned_date]) VALUES (17, 1, 8, CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[role_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (1, N'Manager', N'Quản lý hệ thống', N'ACTIVE', CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (2, N'Waiter', N'Nhân viên phục vụ', N'ACTIVE', CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
INSERT [dbo].[roles] ([role_id], [role_name], [description], [status], [created_at]) VALUES (3, N'Chef', N'Đầu bếp', N'ACTIVE', CAST(N'2025-10-27T10:03:10.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[shift_schedule] ON 

INSERT [dbo].[shift_schedule] ([shift_id], [staff_id], [shift_date], [start_time], [end_time], [status], [created_by]) VALUES (15, 5, CAST(N'2025-10-27' AS Date), CAST(N'08:00:00' AS Time), CAST(N'14:00:00' AS Time), N'SCHEDULED', 1)
INSERT [dbo].[shift_schedule] ([shift_id], [staff_id], [shift_date], [start_time], [end_time], [status], [created_by]) VALUES (16, 6, CAST(N'2025-10-27' AS Date), CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time), N'SCHEDULED', 1)
INSERT [dbo].[shift_schedule] ([shift_id], [staff_id], [shift_date], [start_time], [end_time], [status], [created_by]) VALUES (17, 7, CAST(N'2025-10-27' AS Date), CAST(N'22:00:00' AS Time), CAST(N'04:00:00' AS Time), N'SCHEDULED', 1)
SET IDENTITY_INSERT [dbo].[shift_schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (1, 1, N'Long', N'Nguyen', N'manager01@restoran.local', N'0901000001', N'Manager', CAST(N'2025-10-05' AS Date), CAST(30000000.00 AS Decimal(12, 2)), N'ACTIVE', NULL)
INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (2, 2, N'Phuong', N'Tran', N'manager02@restoran.local', N'0344768409', N'Manager', CAST(N'2025-10-05' AS Date), CAST(28000000.00 AS Decimal(12, 2)), N'ACTIVE', NULL)
INSERT [dbo].[staff] ([staff_id], [user_id], [first_name], [last_name], [email], [phone], [position], [hire_date], [salary], [status], [manager_id]) VALUES (3, 3, N'Thuy', N'Le', N'vul407261@gmai.com', N'0901000003', N'Receptionist', CAST(N'2025-10-05' AS Date), CAST(12000000.00 AS Decimal(12, 2)), N'ACTIVE', NULL)
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
SET IDENTITY_INSERT [dbo].[stock_transactions] ON 

INSERT [dbo].[stock_transactions] ([stock_txn_id], [item_id], [txn_type], [quantity], [unit_cost], [txn_time], [ref_type], [ref_id], [note]) VALUES (1, 17, N'USAGE', CAST(0.300 AS Decimal(12, 3)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-11-10T05:39:53.0000000' AS DateTime2), N'ORDER', 10006, N'Sử dụng cho món: Bún chả Hà Nội (x1)')
INSERT [dbo].[stock_transactions] ([stock_txn_id], [item_id], [txn_type], [quantity], [unit_cost], [txn_time], [ref_type], [ref_id], [note]) VALUES (2, 19, N'USAGE', CAST(0.050 AS Decimal(12, 3)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-11-10T05:39:53.0000000' AS DateTime2), N'ORDER', 10006, N'Sử dụng cho món: Gỏi cuốn tôm thịt (x1)')
INSERT [dbo].[stock_transactions] ([stock_txn_id], [item_id], [txn_type], [quantity], [unit_cost], [txn_time], [ref_type], [ref_id], [note]) VALUES (3, 8, N'USAGE', CAST(0.100 AS Decimal(12, 3)), CAST(0.00 AS Decimal(12, 2)), CAST(N'2025-11-10T05:39:53.0000000' AS DateTime2), N'ORDER', 10006, N'Sử dụng cho món: Bún chả Hà Nội (x1)')
GO
SET IDENTITY_INSERT [dbo].[stock_transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([supplier_id], [company_name], [contact_person], [email], [phone], [address], [status], [created_by]) VALUES (1, N'Công ty Thực phẩm Sạch Việt', N'Nguyễn Văn A', N'contact@thucphamsach.vn', N'0901234567', N'123 Trần Hưng Đạo, Hà Nội', N'ACTIVE', 1)
INSERT [dbo].[suppliers] ([supplier_id], [company_name], [contact_person], [email], [phone], [address], [status], [created_by]) VALUES (2, N'Công ty Rau Củ Đà Lạt', N'Trần Thị B', N'dalat@raucu.vn', N'0902345678', N'456 Lê Lợi, Đà Lạt', N'ACTIVE', 1)
INSERT [dbo].[suppliers] ([supplier_id], [company_name], [contact_person], [email], [phone], [address], [status], [created_by]) VALUES (3, N'Công ty Thịt Tươi Sạch', N'Lê Văn C', N'info@thittuoi.vn', N'0903456789', N'789 Nguyễn Huệ, TP.HCM', N'ACTIVE', 1)
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[table_area] ON 

INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (1, N'Tầng 1', 1)
INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (2, N'Tầng 2', 2)
INSERT [dbo].[table_area] ([area_id], [area_name], [sort_order]) VALUES (3, N'Khu vực ngoài trời', 3)
SET IDENTITY_INSERT [dbo].[table_area] OFF
GO
SET IDENTITY_INSERT [dbo].[table_session] ON 

INSERT [dbo].[table_session] ([table_session_id], [table_id], [open_time], [close_time], [status], [current_order_id]) VALUES (2, 2, CAST(N'2025-10-27T10:12:32.0000000' AS DateTime2), CAST(N'2025-10-27T20:15:37.0000000' AS DateTime2), N'CLOSED', NULL)
INSERT [dbo].[table_session] ([table_session_id], [table_id], [open_time], [close_time], [status], [current_order_id]) VALUES (3, 3, CAST(N'2025-10-27T21:48:34.0000000' AS DateTime2), CAST(N'2025-10-29T03:35:00.0000000' AS DateTime2), N'CLOSED', NULL)
INSERT [dbo].[table_session] ([table_session_id], [table_id], [open_time], [close_time], [status], [current_order_id]) VALUES (4, 1, CAST(N'2025-10-28T15:21:00.0000000' AS DateTime2), CAST(N'2025-10-29T02:26:54.0000000' AS DateTime2), N'CLOSED', NULL)
SET IDENTITY_INSERT [dbo].[table_session] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (1, 1, 1, CAST(N'2025-10-27T10:11:36.0000000' AS DateTime2), N'ACTIVE')
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (2, 2, 1, CAST(N'2025-10-27T10:11:36.0000000' AS DateTime2), N'ACTIVE')
INSERT [dbo].[user_roles] ([user_role_id], [user_id], [role_id], [assigned_date], [status]) VALUES (3, 3, 4, CAST(N'2025-10-27T10:11:36.0000000' AS DateTime2), N'ACTIVE')
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[voucher_redemptions] ON 

INSERT [dbo].[voucher_redemptions] ([redemption_id], [voucher_id], [customer_id], [bill_id], [redeemed_at], [amount]) VALUES (16, 1, NULL, NULL, CAST(N'2025-10-28T22:36:02.0000000' AS DateTime2), CAST(9000.00 AS Decimal(12, 2)))
INSERT [dbo].[voucher_redemptions] ([redemption_id], [voucher_id], [customer_id], [bill_id], [redeemed_at], [amount]) VALUES (17, 4, NULL, NULL, CAST(N'2025-10-28T23:43:36.0000000' AS DateTime2), CAST(66000.00 AS Decimal(12, 2)))
INSERT [dbo].[voucher_redemptions] ([redemption_id], [voucher_id], [customer_id], [bill_id], [redeemed_at], [amount]) VALUES (18, 4, NULL, 2, CAST(N'2025-10-29T03:50:49.0000000' AS DateTime2), CAST(69000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[voucher_redemptions] OFF
GO
SET IDENTITY_INSERT [dbo].[vouchers] ON 

INSERT [dbo].[vouchers] ([voucher_id], [code], [description], [discount_type], [discount_value], [valid_from], [valid_to], [usage_limit], [min_order_total], [status], [created_by]) VALUES (1, N'SALE20', N'giảm 20', N'PERCENT', CAST(20.00 AS Decimal(12, 2)), NULL, NULL, NULL, CAST(0.00 AS Decimal(12, 2)), N'ACTIVE', 2)
INSERT [dbo].[vouchers] ([voucher_id], [code], [description], [discount_type], [discount_value], [valid_from], [valid_to], [usage_limit], [min_order_total], [status], [created_by]) VALUES (2, N'SALE50', N'giam 50', N'PERCENT', CAST(50.00 AS Decimal(12, 2)), NULL, NULL, NULL, CAST(0.00 AS Decimal(12, 2)), N'ACTIVE', 2)
INSERT [dbo].[vouchers] ([voucher_id], [code], [description], [discount_type], [discount_value], [valid_from], [valid_to], [usage_limit], [min_order_total], [status], [created_by]) VALUES (3, N'SALE30', N'giam 30', N'PERCENT', CAST(30.00 AS Decimal(12, 2)), NULL, NULL, NULL, CAST(0.00 AS Decimal(12, 2)), N'INACTIVE', 2)
SET IDENTITY_INSERT [dbo].[vouchers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__bills__D7002CD21A7858E4]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[bills] ADD UNIQUE NONCLUSTERED 
(
	[bill_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bills_status]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_bills_status] ON [dbo].[bills]
(
	[status] ASC,
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_dining_table_number]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[dining_table] ADD  CONSTRAINT [UQ_dining_table_number] UNIQUE NONCLUSTERED 
(
	[table_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__invoices__F58CA1E2290AF15C]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[invoices] ADD UNIQUE NONCLUSTERED 
(
	[invoice_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_kitchen_ready]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_kitchen_ready] ON [dbo].[kitchen_tickets]
(
	[preparation_status] ASC,
	[ready_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_order_items_status]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_order_items_status] ON [dbo].[order_items]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__orders__99D12D3F3E0CAE8E]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[orders] ADD UNIQUE NONCLUSTERED 
(
	[order_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_orders_status]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_orders_status] ON [dbo].[orders]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__password__25F405EB2C96DFF1]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[password_resets] ADD UNIQUE NONCLUSTERED 
(
	[reset_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_password_resets_user_id]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_password_resets_user_id] ON [dbo].[password_resets]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_password_resets_reset_token]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_password_resets_reset_token] ON [dbo].[password_resets]
(
	[reset_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_payments_bill]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_payments_bill] ON [dbo].[payments]
(
	[bill_id] ASC,
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_permissions]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[permissions] ADD  CONSTRAINT [UQ_permissions] UNIQUE NONCLUSTERED 
(
	[module] ASC,
	[action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__recipes__973431D43F730E2D]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[recipes] ADD UNIQUE NONCLUSTERED 
(
	[menu_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_reservations_date]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_reservations_date] ON [dbo].[reservations]
(
	[status] ASC,
	[reservation_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_role_permissions]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[role_permissions] ADD  CONSTRAINT [UQ_role_permissions] UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__783254B1B266FE9A]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__staff__B9BE370E1DC16BE0]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[staff] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_user_roles]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [UQ_user_roles] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164B89B4862]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572587CCE6E]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_users_activation_token]    Script Date: 15/11/2025 10:14:13 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_users_activation_token] ON [dbo].[users]
(
	[activation_token] ASC
)
WHERE ([activation_token] IS NOT NULL AND [activation_used_at] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vouchers__357D4CF9FD029547]    Script Date: 15/11/2025 10:14:13 CH ******/
ALTER TABLE [dbo].[vouchers] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (sysdatetime()) FOR [timestamp]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (N'PROFORMA') FOR [status]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [tax_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [vat_rate]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[bills] ADD  DEFAULT ((0)) FOR [voided]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (sysdatetime()) FOR [registration_date]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT ((0)) FOR [loyalty_points]
GO
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [DF_customers_customer_type]  DEFAULT ('WALK_IN') FOR [customer_type]
GO
ALTER TABLE [dbo].[dining_table] ADD  DEFAULT (N'VACANT') FOR [status]
GO
ALTER TABLE [dbo].[dining_table] ADD  DEFAULT (N'REGULAR') FOR [table_type]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT (N'unit') FOR [uom]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [current_stock]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [minimum_stock]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[inventory_items] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (sysdatetime()) FOR [issued_at]
GO
ALTER TABLE [dbo].[kitchen_tickets] ADD  DEFAULT (N'RECEIVED') FOR [preparation_status]
GO
ALTER TABLE [dbo].[kitchen_tickets] ADD  DEFAULT (sysdatetime()) FOR [received_time]
GO
ALTER TABLE [dbo].[menu_categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT (N'AVAILABLE') FOR [availability]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [is_required]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [min_select]
GO
ALTER TABLE [dbo].[modifier_groups] ADD  DEFAULT ((0)) FOR [max_select]
GO
ALTER TABLE [dbo].[modifier_options] ADD  DEFAULT ((0)) FOR [extra_price]
GO
ALTER TABLE [dbo].[order_item_modifiers] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_item_modifiers] ADD  DEFAULT ((0)) FOR [extra_price]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((1)) FOR [course_no]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (N'NORMAL') FOR [priority]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (N'NEW') FOR [status]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (N'OPEN') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [opened_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[pricing_rules] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'PENDING') FOR [status]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT ((0)) FOR [deposit_amount]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'NONE') FOR [deposit_status]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (N'WALKIN') FOR [channel]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[reservations] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[role_permissions] ADD  DEFAULT (sysdatetime()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[sessions] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[shift_schedule] ADD  DEFAULT (N'PLANNED') FOR [status]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT ((0)) FOR [unit_cost]
GO
ALTER TABLE [dbo].[stock_transactions] ADD  DEFAULT (sysdatetime()) FOR [txn_time]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[table_action_log] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[table_area] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[table_session] ADD  DEFAULT (sysdatetime()) FOR [open_time]
GO
ALTER TABLE [dbo].[table_session] ADD  DEFAULT (N'OPEN') FOR [status]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (sysdatetime()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [registration_date]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'ACTIVE') FOR [account_status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [failed_login_attempts]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[voucher_redemptions] ADD  DEFAULT (sysdatetime()) FOR [redeemed_at]
GO
ALTER TABLE [dbo].[voucher_redemptions] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT ((0)) FOR [min_order_total]
GO
ALTER TABLE [dbo].[vouchers] ADD  DEFAULT (N'ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [FK_audit_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [FK_audit_user]
GO
ALTER TABLE [dbo].[bill_items]  WITH CHECK ADD  CONSTRAINT [FK_bi_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[bill_items] CHECK CONSTRAINT [FK_bi_bill]
GO
ALTER TABLE [dbo].[bill_items]  WITH CHECK ADD  CONSTRAINT [FK_bi_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[bill_items] CHECK CONSTRAINT [FK_bi_oi]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_creator]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [FK_bill_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [FK_bill_order]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_user]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [FK_table_area] FOREIGN KEY([area_id])
REFERENCES [dbo].[table_area] ([area_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [FK_table_area]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [FK_table_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [FK_table_creator]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_creator]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [FK_inventory_supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [FK_inventory_supplier]
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD  CONSTRAINT [FK_invoices_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[invoices] CHECK CONSTRAINT [FK_invoices_bill]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [FK_kt_chef] FOREIGN KEY([chef_id])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [FK_kt_chef]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [FK_kt_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [FK_kt_oi]
GO
ALTER TABLE [dbo].[menu_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_mim_group] FOREIGN KEY([group_id])
REFERENCES [dbo].[modifier_groups] ([group_id])
GO
ALTER TABLE [dbo].[menu_item_modifiers] CHECK CONSTRAINT [FK_mim_group]
GO
ALTER TABLE [dbo].[menu_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_mim_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[menu_item_modifiers] CHECK CONSTRAINT [FK_mim_item]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[menu_categories] ([category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_category]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [FK_menu_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [FK_menu_creator]
GO
ALTER TABLE [dbo].[modifier_options]  WITH CHECK ADD  CONSTRAINT [FK_modopt_group] FOREIGN KEY([group_id])
REFERENCES [dbo].[modifier_groups] ([group_id])
GO
ALTER TABLE [dbo].[modifier_options] CHECK CONSTRAINT [FK_modopt_group]
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_oim_oi] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[order_item_modifiers] CHECK CONSTRAINT [FK_oim_oi]
GO
ALTER TABLE [dbo].[order_item_modifiers]  WITH CHECK ADD  CONSTRAINT [FK_oim_opt] FOREIGN KEY([option_id])
REFERENCES [dbo].[modifier_options] ([option_id])
GO
ALTER TABLE [dbo].[order_item_modifiers] CHECK CONSTRAINT [FK_oim_opt]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_cancel_by] FOREIGN KEY([cancelled_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_cancel_by]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_item]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_order]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_oi_served_by] FOREIGN KEY([served_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_oi_served_by]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_customer]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_table]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_order_waiter] FOREIGN KEY([waiter_id])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_order_waiter]
GO
ALTER TABLE [dbo].[password_resets]  WITH CHECK ADD  CONSTRAINT [FK_password_resets_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_resets] CHECK CONSTRAINT [FK_password_resets_user]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payment_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payment_bill]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK_payment_staff] FOREIGN KEY([processed_by])
REFERENCES [dbo].[staff] ([staff_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK_payment_staff]
GO
ALTER TABLE [dbo].[pricing_rules]  WITH CHECK ADD  CONSTRAINT [FK_pr_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[pricing_rules] CHECK CONSTRAINT [FK_pr_item]
GO
ALTER TABLE [dbo].[recipe_items]  WITH CHECK ADD  CONSTRAINT [FK_ri_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[inventory_items] ([item_id])
GO
ALTER TABLE [dbo].[recipe_items] CHECK CONSTRAINT [FK_ri_item]
GO
ALTER TABLE [dbo].[recipe_items]  WITH CHECK ADD  CONSTRAINT [FK_ri_recipe] FOREIGN KEY([recipe_id])
REFERENCES [dbo].[recipes] ([recipe_id])
GO
ALTER TABLE [dbo].[recipe_items] CHECK CONSTRAINT [FK_ri_recipe]
GO
ALTER TABLE [dbo].[recipes]  WITH CHECK ADD  CONSTRAINT [FK_recipe_item] FOREIGN KEY([menu_item_id])
REFERENCES [dbo].[menu_items] ([menu_item_id])
GO
ALTER TABLE [dbo].[recipes] CHECK CONSTRAINT [FK_recipe_item]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_creator]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_customer]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [FK_res_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [FK_res_table]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_perm] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([permission_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_perm]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FK_role_permissions_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FK_role_permissions_role]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [FK_sessions_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [FK_sessions_user]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [FK_shift_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [FK_shift_creator]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [FK_shift_staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [FK_shift_staff]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_manager] FOREIGN KEY([manager_id])
REFERENCES [dbo].[staff] ([staff_id])
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_manager]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [FK_staff_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [FK_staff_user]
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD  CONSTRAINT [FK_stock_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[inventory_items] ([item_id])
GO
ALTER TABLE [dbo].[stock_transactions] CHECK CONSTRAINT [FK_stock_item]
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD  CONSTRAINT [FK_suppliers_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[suppliers] CHECK CONSTRAINT [FK_suppliers_creator]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_actor] FOREIGN KEY([actor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_actor]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_dst] FOREIGN KEY([dst_table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_dst]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_order]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [FK_tal_src] FOREIGN KEY([src_table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [FK_tal_src]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [FK_ts_order] FOREIGN KEY([current_order_id])
REFERENCES [dbo].[orders] ([order_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [FK_ts_order]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [FK_ts_table] FOREIGN KEY([table_id])
REFERENCES [dbo].[dining_table] ([table_id])
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [FK_ts_table]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_user]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_bill] FOREIGN KEY([bill_id])
REFERENCES [dbo].[bills] ([bill_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_bill]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_customer]
GO
ALTER TABLE [dbo].[voucher_redemptions]  WITH CHECK ADD  CONSTRAINT [FK_vr_voucher] FOREIGN KEY([voucher_id])
REFERENCES [dbo].[vouchers] ([voucher_id])
GO
ALTER TABLE [dbo].[voucher_redemptions] CHECK CONSTRAINT [FK_vr_voucher]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [FK_voucher_creator] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [FK_voucher_creator]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [CK_audit_new_json] CHECK  (([new_values] IS NULL OR isjson([new_values])=(1)))
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [CK_audit_new_json]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD  CONSTRAINT [CK_audit_old_json] CHECK  (([old_values] IS NULL OR isjson([old_values])=(1)))
GO
ALTER TABLE [dbo].[audit_log] CHECK CONSTRAINT [CK_audit_old_json]
GO
ALTER TABLE [dbo].[bills]  WITH CHECK ADD  CONSTRAINT [CK_bill_status] CHECK  (([status]=N'REFUNDED' OR [status]=N'VOID' OR [status]=N'FINAL' OR [status]=N'PROFORMA'))
GO
ALTER TABLE [dbo].[bills] CHECK CONSTRAINT [CK_bill_status]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [CK_customers_type] CHECK  (([customer_type]=N'VIP' OR [customer_type]=N'MEMBER' OR [customer_type]=N'WALK_IN'))
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [CK_customers_type]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [CK_table_status] CHECK  (([status]=N'OUT_OF_SERVICE' OR [status]=N'CLEANING' OR [status]=N'REQUEST_BILL' OR [status]=N'IN_USE' OR [status]=N'SEATED' OR [status]=N'HELD' OR [status]=N'VACANT'))
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [CK_table_status]
GO
ALTER TABLE [dbo].[dining_table]  WITH CHECK ADD  CONSTRAINT [CK_table_type] CHECK  (([table_type]=N'BAR' OR [table_type]=N'OUTDOOR' OR [table_type]=N'VIP' OR [table_type]=N'REGULAR'))
GO
ALTER TABLE [dbo].[dining_table] CHECK CONSTRAINT [CK_table_type]
GO
ALTER TABLE [dbo].[inventory_items]  WITH CHECK ADD  CONSTRAINT [CK_inventory_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[inventory_items] CHECK CONSTRAINT [CK_inventory_status]
GO
ALTER TABLE [dbo].[kitchen_tickets]  WITH CHECK ADD  CONSTRAINT [CK_kt_status] CHECK  (([preparation_status]=N'CANCELLED' OR [preparation_status]=N'SERVED' OR [preparation_status]=N'PICKED' OR [preparation_status]=N'READY' OR [preparation_status]=N'COOKING' OR [preparation_status]=N'RECEIVED'))
GO
ALTER TABLE [dbo].[kitchen_tickets] CHECK CONSTRAINT [CK_kt_status]
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD  CONSTRAINT [CK_menu_availability] CHECK  (([availability]=N'86' OR [availability]=N'TEMP_UNAVAILABLE' OR [availability]=N'AVAILABLE'))
GO
ALTER TABLE [dbo].[menu_items] CHECK CONSTRAINT [CK_menu_availability]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_oi_priority] CHECK  (([priority]=N'HIGH' OR [priority]=N'NORMAL' OR [priority]=N'LOW'))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_oi_priority]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_oi_status] CHECK  (([status]=N'CANCELLED' OR [status]=N'SERVED' OR [status]=N'READY' OR [status]=N'COOKING' OR [status]=N'SENT' OR [status]=N'NEW'))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_oi_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_order_status] CHECK  (([status]=N'SETTLED' OR [status]=N'CANCELLED' OR [status]=N'SERVED' OR [status]=N'READY' OR [status]=N'PARTIAL_READY' OR [status]=N'COOKING' OR [status]=N'SENT_TO_KITCHEN' OR [status]=N'OPEN' OR [status]=N'DINING'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_order_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_order_type] CHECK  (([order_type]=N'TAKEAWAY' OR [order_type]=N'DINE_IN'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_order_type]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payment_method] CHECK  (([method]=N'SPLIT' OR [method]=N'VNPAY' OR [method]=N'CASH' OR [method]=N'CARD' OR [method]=N'ONLINE' OR [method]=N'TRANSFER' OR [method]=N'VOUCHER'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payment_method]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [CK_payment_status] CHECK  (([status]=N'VOIDED' OR [status]=N'REFUNDED' OR [status]=N'FAILED' OR [status]=N'SUCCESS' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [CK_payment_status]
GO
ALTER TABLE [dbo].[pricing_rules]  WITH CHECK ADD  CONSTRAINT [CK_pr_discount_type] CHECK  (([discount_type]=N'AMOUNT' OR [discount_type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[pricing_rules] CHECK CONSTRAINT [CK_pr_discount_type]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_channel] CHECK  (([channel]=N'OTHER' OR [channel]=N'APP' OR [channel]=N'WEB' OR [channel]=N'WALKIN' OR [channel]=N'PHONE'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_channel]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_deposit_status] CHECK  (([deposit_status]=N'FORFEITED' OR [deposit_status]=N'REFUNDED' OR [deposit_status]=N'PAID' OR [deposit_status]=N'PENDING' OR [deposit_status]=N'NONE'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_deposit_status]
GO
ALTER TABLE [dbo].[reservations]  WITH CHECK ADD  CONSTRAINT [CK_res_status] CHECK  (([status]=N'CANCELLED' OR [status]=N'NO_SHOW' OR [status]=N'SEATED' OR [status]=N'CONFIRMED' OR [status]=N'PENDING'))
GO
ALTER TABLE [dbo].[reservations] CHECK CONSTRAINT [CK_res_status]
GO
ALTER TABLE [dbo].[roles]  WITH CHECK ADD  CONSTRAINT [CK_roles_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[roles] CHECK CONSTRAINT [CK_roles_status]
GO
ALTER TABLE [dbo].[sessions]  WITH CHECK ADD  CONSTRAINT [CK_sessions_status] CHECK  (([status]=N'EXPIRED' OR [status]=N'REVOKED' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[sessions] CHECK CONSTRAINT [CK_sessions_status]
GO
ALTER TABLE [dbo].[shift_schedule]  WITH CHECK ADD  CONSTRAINT [CK_shift_status] CHECK  (([status]='CANCELLED' OR [status]='DONE' OR [status]='SCHEDULED'))
GO
ALTER TABLE [dbo].[shift_schedule] CHECK CONSTRAINT [CK_shift_status]
GO
ALTER TABLE [dbo].[staff]  WITH CHECK ADD  CONSTRAINT [CK_staff_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[staff] CHECK CONSTRAINT [CK_staff_status]
GO
ALTER TABLE [dbo].[stock_transactions]  WITH CHECK ADD  CONSTRAINT [CK_stock_txn_type] CHECK  (([txn_type]=N'RETURN' OR [txn_type]=N'ADJUSTMENT' OR [txn_type]=N'WASTE' OR [txn_type]=N'USAGE' OR [txn_type]=N'OUT' OR [txn_type]=N'IN'))
GO
ALTER TABLE [dbo].[stock_transactions] CHECK CONSTRAINT [CK_stock_txn_type]
GO
ALTER TABLE [dbo].[suppliers]  WITH CHECK ADD  CONSTRAINT [CK_suppliers_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[suppliers] CHECK CONSTRAINT [CK_suppliers_status]
GO
ALTER TABLE [dbo].[table_action_log]  WITH CHECK ADD  CONSTRAINT [CK_tal_action] CHECK  (([action_type]=N'TRANSFER_ORDER' OR [action_type]=N'MOVE' OR [action_type]=N'SPLIT' OR [action_type]=N'MERGE'))
GO
ALTER TABLE [dbo].[table_action_log] CHECK CONSTRAINT [CK_tal_action]
GO
ALTER TABLE [dbo].[table_session]  WITH CHECK ADD  CONSTRAINT [CK_ts_status] CHECK  (([status]=N'CLOSED' OR [status]=N'OPEN'))
GO
ALTER TABLE [dbo].[table_session] CHECK CONSTRAINT [CK_ts_status]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [CK_user_roles_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [CK_user_roles_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_account_status] CHECK  (([account_status]=N'PENDING' OR [account_status]=N'DISABLED' OR [account_status]=N'LOCKED' OR [account_status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_account_status]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [CK_voucher_status] CHECK  (([status]=N'INACTIVE' OR [status]=N'ACTIVE'))
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [CK_voucher_status]
GO
ALTER TABLE [dbo].[vouchers]  WITH CHECK ADD  CONSTRAINT [CK_voucher_type] CHECK  (([discount_type]=N'AMOUNT' OR [discount_type]=N'PERCENT'))
GO
ALTER TABLE [dbo].[vouchers] CHECK CONSTRAINT [CK_voucher_type]
GO
USE [master]
GO
